In [28]:
import random 
import pandas as pd
random.seed(42)
lab_mem = ('舟橋 '* 2 + '小茂鳥 '* 1+ '尾上 ' * 3 +'須藤&山下 '* 0 + '宮田 ' * 6 + '竹村 ' * 1).split()
date_ = ('10/22 ' * 1 + '10/29 ' * 2 + '11/5 ' * 2 + '11/12 ' * 2 + '11/19 ' * 2 + '11/26 ' * 2 + '12/3 ' * 2).split()

#labの個数でshuffle
for _ in range(6):
    random.shuffle(lab_mem)

for m, d in zip(lab_mem, date_):
    print(d,m)

10/22 宮田
10/29 舟橋
10/29 小茂鳥
11/5 尾上
11/5 尾上
11/12 宮田
11/12 竹村
11/19 宮田
11/19 舟橋
11/26 宮田
11/26 宮田
12/3 尾上
12/3 宮田

In [39]:
# 恣意的なshuffle
#date_ = ('10/22 ' * 1 + '10/29 ' * 2 + '11/5 ' * 2 + '11/12 ' * 2 + '11/19 ' * 2 + '11/26 ' * 2 + '12/3 ' * 2).split()
date_ = ('10/22 ' * 1 + '10/29 ' * 1 + '11/5 ' * 1 + '11/12 ' * 1 + '11/19 ' * 1 + '11/26 ' * 1 + '12/3 ' * 1).split()
#date_ = list(set(date_))
#date_ = sorted(date_)
lab_mem = ('舟橋 '* 2 + '小茂鳥 '* 1+ '尾上 ' * 2 +'須藤&山下 '* 0 + '宮田 ' * 0 + '竹村 ' * 1).split()
random.shuffle(lab_mem)
random.shuffle(lab_mem)

first_ , second_= [], []
for i,d in enumerate(date_):
    if i == 0:
        print(d,'ガイダンス','尾上')
        first_.append('ガイダンス')
        second_.append('尾上')
    elif i % 2 == 0:
        print(d,lab_mem[i-1],'宮田')
        first_.append(lab_mem[i-1])
        second_.append('宮田')
    else:
        print(d,'宮田',lab_mem[i-1])
        second_.append(lab_mem[i-1])
        first_.append('宮田')
df = pd.DataFrame()

df['前半'] = first_
df['後半'] = second_
df.index = date_
df

10/22 ガイダンス 尾上
10/29 宮田 尾上
11/5 舟橋 宮田
11/12 宮田 小茂鳥
11/19 尾上 宮田
11/26 宮田 舟橋
12/3 竹村 宮田

          前半   後半
10/22  ガイダンス   尾上
10/29     宮田   尾上
11/5      舟橋   宮田
11/12     宮田  小茂鳥
11/19     尾上   宮田
11/26     宮田   舟橋
12/3      竹村   宮田

In [42]:
df.to_csv('presentation_date.csv')