In [1]:
import random 
import pandas as pd
random.seed(42)
lab_mem = ('舟橋 '* 2 + '小茂鳥 '* 1+ '尾上 ' * 3 +'須藤&山下 '* 0 + '宮田 ' * 6 + '竹村 ' * 1).split()
date_ = ('10/22 ' * 1 + '10/29 ' * 2 + '11/5 ' * 2 + '11/12 ' * 2 + '11/19 ' * 2 + '11/26 ' * 2 + '12/3 ' * 2).split()

#labの個数でshuffle
for _ in range(6):
    random.shuffle(lab_mem)

for m, d in zip(lab_mem, date_):
    print(d,m)

10/22 宮田
10/29 舟橋
10/29 小茂鳥
11/5 尾上
11/5 尾上
11/12 宮田
11/12 竹村
11/19 宮田
11/19 舟橋
11/26 宮田
11/26 宮田
12/3 尾上
12/3 宮田

In [3]:
# 恣意的なshuffle
#date_ = ('10/22 ' * 1 + '10/29 ' * 2 + '11/5 ' * 2 + '11/12 ' * 2 + '11/19 ' * 2 + '11/26 ' * 2 + '12/3 ' * 2).split()
date_ = ('10/22 ' * 1 + '10/29 ' * 1 + '11/5 ' * 1 + '11/12 ' * 1 + '11/19 ' * 1 + '12/3 ' * 1 + '12/10 ' * 1).split()
#date_ = list(set(date_))
#date_ = sorted(date_)
lab_mem = ('舟橋 '* 2 + '小茂鳥 '* 1+ '尾上 ' * 2 +'須藤&山下 '* 0 + '宮田 ' * 0 + '竹村 ' * 1).split()
random.shuffle(lab_mem)
random.shuffle(lab_mem)

first_ , second_= [], []
for i,d in enumerate(date_):
    if i == 0:
        print(d,'ガイダンス','尾上')
        first_.append('ガイダンス')
        second_.append('尾上')
    elif i % 2 == 0:
        print(d,lab_mem[i-1],'宮田')
        first_.append(lab_mem[i-1])
        second_.append('宮田')
    else:
        print(d,'宮田',lab_mem[i-1])
        second_.append(lab_mem[i-1])
        first_.append('宮田')
df = pd.DataFrame()

df['前半'] = first_
df['後半'] = second_
df.index = date_
df

10/22 ガイダンス 尾上
10/29 宮田 尾上
11/5 小茂鳥 宮田
11/12 宮田 舟橋
11/19 竹村 宮田
12/3 宮田 舟橋
12/10 尾上 宮田

          前半  後半
10/22  ガイダンス  尾上
10/29     宮田  尾上
11/5     小茂鳥  宮田
11/12     宮田  舟橋
11/19     竹村  宮田
12/3      宮田  舟橋
12/10     尾上  宮田

In [42]:
df.to_csv('presentation_date.csv')

# グループ分け

In [5]:
random.seed(42)
lab_mem = ('舟橋 '* 6 + '小茂鳥 '* 4+ '尾上 ' * 9 +'須藤&山下 '* 2 + '宮田 ' * 9 + '竹村 ' * 3).split()
print(len(lab_mem))

33

In [16]:
# 9
lab_mem = ('舟橋 '* 6 + '小茂鳥 '* 4+'須藤&山下 '* 2 + '竹村 ' * 3).split()
print(len(lab_mem))

15

In [21]:
#9グループ

#print(len(lab_mem))

for j in range(3):
    print(f'\n{j+1}回目の割り振り\n')
    random.seed(j)
    lab_mem = ('舟橋 '* 6 + '小茂鳥 '* 4+'須藤&山下 '* 2 + '竹村 ' * 3).split()
    for i in range(1,10):
        mem1 = random.choice(lab_mem)
        lab_mem.remove(mem1)
        while i <= 6:
            mem2 = random.choice(lab_mem)
            if mem1 != mem2:
                lab_mem.remove(mem2)
                break

        if i <=6:
            mem = f"尾上,宮田,{mem1},{mem2} " 
        else:
            mem = f"尾上,宮田,{mem1}" 

        print(f"group{i}:{mem}")
    #print(len(lab_mem))

1回目の割り振り

group1:尾上,宮田,竹村,小茂鳥
group2:尾上,宮田,竹村,小茂鳥
group3:尾上,宮田,舟橋,須藤&山下
group4:尾上,宮田,須藤&山下,小茂鳥
group5:尾上,宮田,竹村,舟橋
group6:尾上,宮田,舟橋,小茂鳥
group7:尾上,宮田,舟橋
group8:尾上,宮田,舟橋
group9:尾上,宮田,舟橋

2回目の割り振り

group1:尾上,宮田,舟橋,須藤&山下
group2:尾上,宮田,竹村,舟橋
group3:尾上,宮田,小茂鳥,舟橋
group4:尾上,宮田,竹村,須藤&山下
group5:尾上,宮田,竹村,舟橋
group6:尾上,宮田,舟橋,小茂鳥
group7:尾上,宮田,舟橋
group8:尾上,宮田,小茂鳥
group9:尾上,宮田,小茂鳥

3回目の割り振り

group1:尾上,宮田,竹村,舟橋
group2:尾上,宮田,舟橋,小茂鳥
group3:尾上,宮田,舟橋,小茂鳥
group4:尾上,宮田,小茂鳥,舟橋
group5:尾上,宮田,須藤&山下,竹村
group6:尾上,宮田,舟橋,竹村
group7:尾上,宮田,須藤&山下
group8:尾上,宮田,小茂鳥
group9:尾上,宮田,舟橋

In [14]:
random.choice(lab_mem)

'須藤&山下'

In [15]:
mem1 = random.choice(lab_mem)
lab_mem.remove(mem1)
print(len(lab_mem))

14